{% load static %}
<link rel="stylesheet" href="{% static 'debug_toolbar/mail/mail_toolbar.css' %}" type="text/css" media="screen" />
<script type="module" src="{% static 'debug_toolbar/mail/toolbar.mail.js' %}" async></script>

<div class='djm-mail-toolbar djm-full-height'>

{% if not mail_list %}
<div style="
    font-size:1.5rem;
    display: flex;
    align-items: center;
    gap: 5px;
">
<svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 576 512"> <path fill="#999" d="M0 208L0 384c0 35.3 28.7 64 64 64l160 0c35.3 0 64-28.7 64-64l0-176c0-79.5-64.5-144-144-144S0 128.5 0 208zm64 0c0-8.8 7.2-16 16-16l128 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L80 224c-8.8 0-16-7.2-16-16zm256 0l0 176c0 24.6-9.2 47-24.4 64L512 448c35.3 0 64-28.7 64-64l0-176c0-79.5-64.5-144-144-144L245.2 64C290.4 95.9 320 148.5 320 208zm64 0c0-8.8 7.2-16 16-16l64 0 32 0c8.8 0 16 7.2 16 16l0 64c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-48-48 0c-8.8 0-16-7.2-16-16z"/></svg>
    <span style="font-size:1.5rem;">No recent mail found.</span>
</div>
{% else %}
{% spaceless %}
<div class='djm-message-list djm-no-select'>
<table id='djm_message_table'>
<thead>
<tr>
    <th></th>
    <th>To</th>
    <th>Subject</th>
    <th>Date Sent</th>
    <th class="t-center"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill=#aaa d="M375 73c-26-26-68.1-26-94.1 0L89 265C45.3 308.6 45.3 379.4 89 423s114.4 43.6 158.1 0L399 271c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L281 457c-62.4 62.4-163.5 62.4-225.9 0S-7.4 293.4 55 231L247 39C291.7-5.7 364.3-5.7 409 39s44.7 117.2 0 161.9L225.2 384.7c-31.6 31.6-83.6 28.7-111.5-6.2c-23.8-29.8-21.5-72.8 5.5-99.8L271 127c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L153.2 312.7c-9.7 9.7-10.6 25.1-2 35.8c10 12.5 28.7 13.6 40 2.2L375 167c26-26 26-68.1 0-94.1z"/></svg></th>
    <th class="t-center"><img jsmethod="clear_all_messages" url="{% url 'djdt:clear_all_messages' %}" class="table-icon" src="{% static 'debug_toolbar/mail/trash.png' %}" alt=""></th>
</tr>
</thead>
{% endspaceless %}
<tbody>
{% for message_id, message in mail_list.items %}
<tr class='djm-message-row' id="{{message_id}}" url="{% url 'djdt:load_message' message_id %}">
    <td class='djm-unread-cell'>{% if not message.read %}<div class='djm-unread'></div>{% endif %}</td>
    <td>{{message.to.0}}</td>
    <td>{{message.subject}}</td>
    <td>{{message.date_sent}}</td>
    <td style='text-align:right'>{% if message.attachments %}<span class='djm-attachment'></span>{{message.attachments|length}} items{% endif %}</td>
    <td class="t-center"><img jsmethod="clear_message" url="{% url 'djdt:clear_message' message_id %}" class="table-icon" src="{% static 'debug_toolbar/mail/trash.png' %}" alt=""></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}

<div id='djm_message_container'>
    <div id='djm_message_overview'></div>
    <div id='djm_message_preview'>
        <iframe src="" frameborder="0"></iframe>
    </div>
    <div class="clearfix"></div>
</div>

</div>
